.remove {
	background-color: #560319;
	color: #8d8d8d;
}

.remove img {
	filter: invert(0%) sepia(5%) saturate(7500%) hue-rotate(228deg) brightness(98%);
}

.remove:hover {
	background-color: #560319;
}

.edit {
	background-color: #4b4b4b;
	color: #c4c4c4;
}

.add {
	background-color: #00922c;
	margin: auto;
	color: #000;
}

.add img {
	filter: invert(0%) sepia(5%) saturate(7500%) hue-rotate(228deg) brightness(98%);
}

.add:hover {
	background-color: #00922c;
}

.sort {
	margin: auto;
	background-color: transparent;
	color: #ffffff;
}

.sort:hover {
	background-color: #004f88;
}

.sort.active {
	background-color: #004f88;
}

.sort.active img {
	filter: invert(0%) sepia(5%) saturate(7500%) hue-rotate(228deg) brightness(98%);
}

.disabled {
	opacity: 0.5;
}

.disabled:hover {
	cursor: not-allowed;
	scale: 0.9;
}

@media (max-width: 840px) {
	.text {
		display: none;
	}
}

@media (max-width: 450px) {
	.edit {
		width: 100%;
	}

	.remove {
		width: 100%;
	}
}

@media (hover: none) {
	.sort:hover {
		background-color: transparent;
	}

	.sort.active {
		background-color: #0077ff;
	}
}
